$primary-color: #fb3775;
$secondary-color: #1a2b3f;
$secondary-lite-color: #2b3c51;
$white-color: #ffffff;
$choclate-color: #fff9f4;
$yellow-color: #ffbe33;
$teritary-color: #fde9e8;
$gray-color: #f8f8f8;
